{% extends 'header.html' %}

{% load static %}

{% block content %}
<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Colony Counter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                	 <a class="nav-link" href="/uploads/simple/">Upload<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<center>
<section class ="container">
<div class ="upload_file">   
<div id="upload_file" >
	<br></br><br></br>
	<br></br><br></br>
    <div style="float:center;">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile" class = "btn btn-primary">
    <button type="submit" class = "btn btn-primary">Upload</button>
  

</div>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}